@keyframes scrollhintanim {
  1% {
    bottom: 5%;
  }
  9% {
    opacity: 1;
  }
  21% {
    bottom: 95%;
  }
  35% {
    opacity: 0;
  }
}
.scrollhintwrap {
  height: 100%;
  width: 100%;
}
.pointscroll {
  border-radius: 50px;
  opacity: 0;
  aspect-ratio: 1;
  position: absolute;
  bottom: 5%;
  width: 10px;
  background-color: rgba(255, 255, 255, 0.521);
  animation: scrollhintanim 4s infinite ease-in-out;
  animation-delay: 6s;
}
