.scrollbar_wrapper {
  /* background-color: rgba(51, 155, 155, 0.288); */
  position: absolute;
  width: 30px;
  height: 150px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 6px;
  transition: 1s;
}
.line {
  height: 20px;
  width: 1px;
  border: 0;
  background-color: white;
  border-radius: 10px;
}
.f {
  height: 5px;
  opacity: 30%;
}
.point {
  box-shadow: inset 0 0 2px aqua;
  aspect-ratio: 1;
  width: 3px;
  border-radius: 50%;
  transition: 0.8s;
  margin: auto;
}
@media only screen and (max-width: 600px) {
}
