@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");
.contentwrapper2 {
  position: absolute;
  width: 100%;

  height: 70%;
  /* background-color: rgba(32, 101, 128, 0.233); */
  /* background-color: rgba(128, 32, 32, 0.233); */

  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  backdrop-filter: invert(10%);
  /* -webkit-backdrop-filter: invert(90%); */
  z-index: 0;

  opacity: 0;

  z-index: 100000;
  justify-content: center;
  transition: 0.5s;
  overflow: hidden;
  box-shadow: inset 0 0 200px #000000;
  /* background-color: #000000; */
}
.videotextwrap {
  display: flex;
  width: 80%;
  height: 100%;
  margin: auto;
  justify-content: space-around;
  z-index: 1000;
}
.loader {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: 0.65s;
}
.videoplayer {
  position: relative;
  display: block;
  top: 50%;
  left: 1%;
  transform: translate(0, -50%);
  justify-content: center;
  /* background-color: #000000; */
  border-radius: 4px;
  overflow: hidden;
  aspect-ratio: 1.77;
  height: 90%;
  /* box-shadow: 0 0 10px 10px #000000; */
}
.videodetail {
  position: relative;
  /* background-color: antiquewhite; */
  right: 0;
  width: 30%;
  text-align: left;
  z-index: 1000;
  margin-left: 20px;
}
.vidtitle {
  /* font-family: "Rajdhani", sans-serif; */
  font-family: "DM Serif Display", serif;
  text-align: right;
}
.darken {
  aspect-ratio: 1.77;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  position: absolute;
  width: 100%;
  box-shadow: inset 0 0 60px #000000;
  background-color: #000000;
  transition: 0.5s;
}

.topside {
  display: flex;
  justify-content: space-between;
}
.link {
  width: 100%;
  /* background-color: #000000; */
  position: relative;
  top: 50%;
}
.toolsvp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10%;
  position: absolute;
  bottom: 10%;
}

.platformtxt {
  display: inline;
  font-family: "Red Hat Display", sans-serif;
}

.anchorlink {
  align-self: center;
  margin-top: 1.5%;
  width: 10%;
}

.videostory {
  /* font-family: "Red Hat Display", sans-serif; */
  font-family: "Roboto Mono", monospace;
  letter-spacing: 5px;
  font-size: 1.3rem;
}
.itemsvp {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.5px;
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .arrows {
    position: absolute;
    gap: 10px;
    height: 10%;
    bottom: 0;
    top: auto;
    z-index: 99999;
  }
  .topside {
    width: 90%;
    margin: auto;
  }
  .arrowimg {
    height: 30%;
  }
  .itemsvp {
    bottom: 14%;
  }
  .videotextwrap {
    /* background-color: #bb4040; */
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .videoplayer {
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: auto;
    z-index: 99999;
  }
  .toolsvp {
    display: none;
  }
  .anchorlink {
    width: 8%;
    margin-top: 3%;
  }
  .videostory {
    display: none;
  }
  .videodetail {
    width: 100%;
    height: 90%;
  }
  #displace {
    height: 100%;
  }
  .vidtitle {
    font-size: 2rem;
  }
  .contentwrapper2 {
    height: 60%;
  }

  .right {
    border-radius: 30px 0px 0px 0px;
  }

  .left {
    border-radius: 0px 30px 0px 0px;
  }
  .videoplayer {
    border-radius: 0;
  }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .videostory {
    font-size: 1.4rem;
  }
  .platformtxt {
    font-size: 1.3rem;
  }
}
